html, body {
    margin: 0 auto;
    padding: 0;
    width: 375px;
    font-family: "Source Sans 3", sans-serif;
    background-color: #EDEDED;
}

/* layout */

header{
    background-color: #FFF;
    display: flex;
    margin: 0;
    padding: 0 16px 0 16px;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    border-bottom: 1px solid #c6c6c6;
}

.artist-header {
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.artist-header-info {
    margin-top: 11px;
}

.artist-footer {
    margin: 0 0 25px 0;
    padding: 0 0 10px 0;
    background-color: #FFF;
}

.icons-div {
    display: flex;
    padding: 10px 0 0 10px;
    margin: 0;
}

.artist-footer-info {
    margin: 0 0 0 13px;
    padding: 0;
}

/* images */

.logo-img {
    width: 127px;
    height: 55px;
    margin-bottom: 0px;
}

.profile-img {
    border-radius: 50%;
    width: 34px;
    height: 34px;
}

.artist-img {
    margin: 10px;
}

.post-img {
    width: 375px;
    height: 375px;
    margin: 0;
    margin-bottom: -5px;
}

.icon-img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
}

/* typography */

.name {
    font-size: 13px;
    font-weight: 700;
    margin: 0;
}

.location {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.likes {
    margin: 10px 0 12px 0;
    font-weight: 400;
    padding: 0;
}

.username {
    font-weight: 700;
    line-height: 0%;
}

.comment {
    margin: 20px 0 0 0;
    padding: 0;
    line-height: 0%;
}

